<!DOCTYPE html>
<html lang="en" ng-app="remoteControlApp">
    <head>
      <meta charset="utf-8">
      <title>CVRemote Client</title>
      <link rel="stylesheet" href="/style.css" media="screen">
      <script src="/engine.io.js"></script>
      <script src="/jquery.min.js"></script>
      <script src="/angular.min.js"></script>
      <script src="/controller.js"></script>
    </head>
    <body>
      <div id="main" ng-controller="RemoteCTRL">
        <div id="top">
          <img ng-src="{{'data:image/png;base64,'+img}}" id="debug_img">
        </div>
        <div id="bottom">
          <button ng-click="getParams()">PARAMS</button>
          <button ng-click="getFrame()">FRAME</button>
          <button ng-click="stream = true; getFrame();">STREAM</button>
          <button ng-click="stream = false;">STOP</button>
          <br />
          <input type="text" ng-model="query"><button ng-click="send()">SEND</button>
          <table id="profileTab">
            <tr ng-repeat='(key, val) in timers track by key'>
                <td>{{key}}: </td><td>{{val}}</td>
            </tr>
          </table>
          <div id="pos">
              <table id="profileTab">
                <tr>
                    <td>{{xpos}}</td>
                    <td>{{ypos}}</td>
                    <td>{{zpos}}</td>
                </tr>
              </table>
          </div>
          <div id="log">
            {{log}}
          </div>
        </div>
      </div>
    </body>
</html>
