body, html {
  margin: 0;
  padding: 0;
}

body {
  background: #0e0e0e;
}

#top,#bottom {
    width: 500px;
    margin: 10px auto;
}

#bottom {
    width: 490px;
    background-color:#ffee00;
    padding: 5px;
}

#log {
    height: 300px;
    color: #000;
    background: #fff;
    padding: 5px;
    margin: 10px 0 0 0;
    font-family: monospace;
    overflow-y: scroll;
}

#debug_img {
  border: 1px solid #fff;
  width: 498px;
  min-height: 100px;
}
